.horizontal-scroll-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .horizontal-scroll-container > div {
    flex: 0 0 auto; /* Prevent the items from shrinking */
    margin-left: 1rem; /* Optional: Add some space between items */
  }