<div
  class="pod-container bg-no-repeat bg-cover relative"
  [ngStyle]="{
    'background-image':
      'linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .8), rgba(0, 0, 0, .2), rgba(0, 0, 0, 1)), url(' +
      pod.parents[0].species.image_url +
      ')'
  }"
>
  <div
    *ngIf="pod.offspring.length === 0"
    class="absolute bottom-[-30px] right-[-25px]"
  >
    <button
      class="mini-button button-primary z-100"
      (click)="breedService.breakBreedingPod(pod.uuid)"
    >
      Stop breeding
    </button>
  </div>
  <p>Species: {{ parentSpecies }}</p>
  <div class="flex justify-between text-left mb-5 mt-1">
    <div *ngFor="let parent of pod.parents">
      <p>
        {{ getGenderName(parent) }}:
        {{ parent.name }}
      </p>
    </div>
  </div>
  <!-- {{stringiedPod}} -->
  <!-- <p>Offspring: {{pod.offspring.length}}</p> -->
  <ng-container *ngIf="pod.offspring.length > 0; else elseContainer">
    <div *ngFor="let offspring of pod.offspring">
      <div class="flex justify-around">
        <div>
          <img
            [src]="offspring.species.image_url"
            alt="{{ offspring.species.name }}"
            class="rounded-full h-32 w-32 object-fit overflow-clip"
          />
          <h2>{{ offspring?.name }}</h2>
          <h2>{{ offspring?.species?.name }}</h2>
          <h2>{{ getGenderString(offspring?.gender) }}</h2>
          <p>Name: {{ offspring.name }}</p>
        </div>
      </div>
    </div>
    <button
      class="button button-primary"
      (click)="breedService.claimOffspring(pod.uuid)"
    >
      Claim Offspring
    </button>
  </ng-container>
  <ng-template #elseContainer>
    <!-- Progress Bar -->
    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
      <div
        class="bg-blue-600 h-2.5 rounded-full"
        [style.width]="getBreedingProgress() + '%'"
      ></div>
    </div>
    <div class="flex justify-between">
      <p class="text-xs">
        Time to Hatch:
        {{ (pod.countDown ?? 0) / 60 | Round : 0 : Direction.UP }} minutes
      </p>
      <p class="text-xs">
        Done at
        {{ calculateTotalTime(pod.breedingStartDateTime, pod.timeToHatch) }}
      </p>
    </div>
  </ng-template>
</div>
